{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mphunds</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="brand-title">Mphfunds</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#" class="signup">Sign Up</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="banner">
        <img src="{% static 'images\mphfunds.jpg' %}" alt="">
    </section>

    <section class="finance">
        <div class="finance-row">
            <div class="finance-col">
                <h1>BEST FINANCIAL SOLUTIONS</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti nemo illum autem adipisci earum quo nisi quod a modi saepe laboriosam eum recusandae, exercitationem ex dolorem accusantium sapiente ad.</p>
                  <button type="button" class="">Primary</button>
            </div>
            <div class="finance-col">
                <div class="box"></div>
                <img src="{% static 'images\mfunds.png' %}" alt="" width="80%">
            </div>
        </div>
    </section>

    <section class="packages">
        <h2>Investment Features</h2>
        <div class="packages-row">
            <div class="packages-col">
                <button data-modal-target="#modal" class="button bronze">
                    <h5>12,000</h5>
                    <p>Bronze</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button silver">
                    <h5>24,000</h5>
                    <p>Silver</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button">
                    <h5>48,000</h5>
                    <p>Plantinum</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button gold">
                    <h5>96,000</h5>
                    <p>Gold</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button diamond">
                    <h5>192,000</h5>
                    <p>Diamond</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button ruby">
                    <h5>384,000</h5>
                    <p>Ruby</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button">
                    <h5>768,000</h5>
                    <p>Eminent</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
            <div class="packages-col">
                <button data-modal-target="#modal" class="button">
                    <h5>1,536,000</h5>
                    <p>Emerald</p>
                </button>
                <div class="modal" id="modal">
                    <header>
                        <h3>Bronze</h3>
                        <button data-close-button class="close-button">&times;</button>
                    </header>
                    <div class="body">
                        <div class="invest">
                            <h5>Investment</h5>
                            <p>12,000</p>
                        </div>
                        <div class="returns">
                            <h5>Profit</h5>
                            <p>+50%</p>
                        </div>
                        <div class="duration">
                            <h5>Duration</h5>
                            <p>30 working days</p>
                        </div>
                    </div>
                    <button class="pick-invest">Invest</button>
                </div>
                <div class="" id="overlay"></div>
            </div>
        </div>
    </section>

    <section class="updates">
        <div class="updates-row">
            <div class="updates-col-one">
                <h1>Lorem ipsum dolor sit amet consectetur .</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti nemo illum autem adipisci earum quo nisi quod a modi saepe laboriosam eum recusandae, exercitationem ex dolorem accusantium sapiente ad.</p>
            </div>
            <div class="updates-col-two">
                <h1>Lorem ipsum dolor sit amet consectetur .</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti nemo illum autem adipisci earum quo nisi quod a modi saepe laboriosam eum recusandae, exercitationem ex dolorem accusantium sapiente ad.</p>
            </div>
        </div>
    </section>

    <footer>
        @ mph<span>funds</span> 2021
    </footer>



    <script src="{% static 'js/all.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>